// Place all the styles related to the excursions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//index
.user-session, .caja-busq {
	background: rgba(44,63,97,0.7);
	margin: 0px 0px 20px 30px;
	padding: 10px;
	border-radius: 4px;	
	max-width: 450px;
}

.user-session{
	margin: 90px auto;

}

.tit-busq {
	text-align: center;
	font-variant: small-caps;
	color: #c6ea8c;
}

.enviar {
	float :right;
	margin: 10px 70px 0 0 ;
}

.cuadro-fecha {
	border-radius: 5px;
	padding-left: 40px;
	color: #c6ea8c;
}

//------------------------------------------------------------------------
//show_query
.excursion{
	border:1px solid red;
} 
.enlace-excursion{
	color: red;
	font-size: 1.3em;
	margin: 10px;
} 
.enlace-excursion:hover{
	color: yellow;
} 



