// Place all the styles related to the excursions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//index
.user-session, .caja-busq, .caja-exc {
	background: rgba(44,63,97,0.7);
	margin: 40px 0px 20px 30px;
	padding: 2px 0px 20px 25px;
	border-radius: 4px;	
	max-width: 450px;
}

.tit-busq {
	text-align: center;
	font-variant: small-caps;
	color: #d3cdcd;
}

.enviar {
	float :right;
	margin: 10px 70px 0 0 ;
}

.cuadro-fecha {
	color: #d3cdcd;
}

//------------------------------------------------------------------------
//show_query

.enlace-excursion, .enlace-guia{
	font-size: 1.5em;
	background:  #d3cdcd;
	margin:0 auto;
	border-radius:3px;
	font-variant: small-caps;
} 

.enlace-excursion a, .enlace-guia a{
	color: #2c3f61;
	text-decoration: none;
} 

.caja-exc, .caja-guia{
	background: rgba(44,63,97,0.8);
	max-width: 1100px;
	margin: 15px auto;
	padding: 10px;
	border-radius: 5px;
}

.caja-text-exc, .caja-text-guia{
	font-weight: bold;
	font-size: 1.1em;
	color: #2c3f61;
	background:	 #d3cdcd;
	margin:10px 0 6px 10px;
	border-radius: 3px;
	padding: 15px 5px 15px 10px;
	width: 165px;
	font-variant: small-caps;
}

.caja-text-guia{
	width: 230px;
}

.descrip-exc{
	border: 1px solid #d3cdcd;
	border-radius: 3px;
	margin: 0 auto;
	background:  #d3cdcd;
}

.caja-monument{
	background: rgba(44,63,97,0.5);
	max-width: 225px;
	border-radius: 5px;
	color: #d3cdcd;
	float:left;
	margin: 5px 5px;
	box-shadow: 2px 2px rgba(0,0,0,0.3);
}

.monument_img, .guia-img{
	height: 100px;
	width:  200px;
	margin: 5px 5px 0 5px;;
	border-radius: 5px;
}

.guia-img{
	height: 150px;
}

.text-monument, .text-exc-guia{
	font-weight:bold;
	color: #d3cdcd;
	font-size: 1em;
	font-variant: small-caps;
	text-align: right;
	margin: 0 7px 3px 0;
}

.text-exc-guia{
	text-align: left;
	padding-left: 10px;	
}

.button-exc, .button-reservar, .button-ofertar{
	font-variant: small-caps;
	font-weight: bold;
	letter-spacing: 0.01em;
	color: #2c3f61; 
	padding: 2px 5px;
	border-radius: 3px;
	float: left;
	text-align: center;
	margin:0px 5px 5px 25px;
	width:165px;
}

.button-reservar{
	background: #bfea8f;
}

.button-ofertar{
	background: #f29696;
}




