// Place all the styles related to the excursions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background: #2C3F61; 
}

.sup{
	height: 15px;
}

header{
	height: 100px;
	background:  #d3cdcd;
}	

.logo_img{
	height: 90px;
	width: 90px;
	float: right;
	margin: 5px 80px 0px 30px;
}

.logo_text{
	margin: 50px 20px 0 0;
	font-size: 1.8em;
	float: right;
	font-variant: small-caps;
	font-weight: bold;
	color: #2c3f61;
}

img{
	height: 100%;
	width: 100%;
}

.fondo{
	background: #2C3F61 url("fondomadrid2.jpg"); 
	height: 700px;
}

hr{
	border: 1px inset  #d3cdcd;
	padding:0;
}

.notice, .alert {
	font-size: 1.2em;
	background: rgba(255,255,0,0.4);
	text-align:right;
	padding-right:30px;
	font-size: 1.1em;
	font-variant: small-caps;
	font-weight: bold;
	color: #2c3f61;
}

.text-color{
	color: #d3cdcd;
}


