// Place all the styles related to the excursions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background: #2C3F61; 
}

div.main_container{
	background-repeat: no-repeat;
	background-position: center;
}

header{
	height: 100px;
	background:  #d3cdcd;
	margin-top: 10px;
}	

.logo_img{
	height: 90px;
	width: 90px;
	float: right;
	margin: 5px 80px 0px 30px;
}

.logo_text{
	margin: 50px 20px 0 0;
	font-size: 2em;
	float: right;
	font-variant: small-caps;
	font-weight: bold;
	color: #2C3F61;
}

img{
	height: 100%;
	width: 100%;
}

div.fondo{
	background: #2C3F61; 
	background-image: url("fondos/fondomadrid.jpg");
	background-size: cover;
	padding-top: 30px;
	height: 800px;
	background-position: center;
	
}

hr{
	border: 1px inset  #d3cdcd;
	padding:0;
}

.notice {
	color:yellow;
}

