// Place all the styles related to the guides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button{
	
	font-size: 1.1em;
	font-variant: small-caps;
	font-weight: bold;
	color: #d3cdcd;
	letter-spacing: 0.01em;
	background: #d3cdcd;
	color: #2c3f61; 
	width: 75px;
	margin:5px 40px 10px 0;
}
