.user-session{
	margin: 90px auto;
}

.user-input{
	border-radius: 10px;
}

.check-align{
	text-align:right;
	margin:5px 40px 0 0;
}

.button-entrar{
	text-decoration: none;
	font-size: 1.2em;
	font-variant: small-caps;
	font-weight: bold;
	color: #d3cdcd;
	border-radius: 3px;
	text-align: center;
	border: 1px solid #2C3F61; 
	background: #d3cdcd;
	color: #2c3f61; 
	width: 70px;
	float:right;
	margin:5px 40px 10px 0;
}

.text-color{
	margin-top: 5px;
	color: #d3cdcd;
	font-weight: bold;
}

.text-color:hover{
	color: #d3cdcd;
}

.text-olvido-pass{
	float:right;
	margin: 0px 25px 0  0; 
}

.name-container{
	width: 300px;
}	

.pass-container{
	width: 150px;
}

.fondo-container{
	background-color: #faffbd;
}
	 